@use './../../vars';

.menu {
  @extend %seethruBlocks;

  &-light {
    @extend %seethruBlocksLight;
  }

  &-emphasis {
    @extend %pageEmphasisTitle;
  }

  &-paragraph {
    @extend %pageSectionsParagaphs;
    font-weight: 200;
    text-align: center;
    &-light {
      font-weight: 400;
    }
  }

  &-section {
    @extend %pageSections;
    &-title {
      @extend %pageSectionsTitles;
    }
  }

  &-table {
    @extend %pageTables;
    &-light {
      background-color: vars.$light-background;
      border-color: vars.$emphasis-font-color;
    }
    &-left-cell {
      @extend %pageTablesLeftCells;
    }
    &-right-cell {
      @extend %pageTablesRightCells;
    }
    &-double-cell {
      @extend %pageTablesDoubleCells;
      &-light {
        font-weight: 400;
      }
    }
  }

  &-title {
    @extend %pageTitles;
  }
}