@use './../../vars';

.reservations {
  @extend %seethruBlocks;

  &-light {
    @extend %seethruBlocksLight;
  }

  &-emphasis {
    @extend %pageEmphasisTitle;
  }

  &-form {
    @extend %pageForms;
    &-light {
      background-color: vars.$light-background;
      color: vars.$regular-dark;
    }

    &-button {
      @extend %pageFormsButtons;
      &-light {
        border-color: vars.$regular-dark;
        background-color: vars.$light-background;
        color: vars.$regular-dark;
      }
    }

    &-comment {
      @media screen and (max-width: 350px) {
        padding: 5% 0;
      }
    }

    &-date {
      @extend %pageFormsInputsDate;
    }

    &-input {
      @extend %pageFormsInputs;
      &-light {
        border-color: vars.$emphasis-font-color;
        background-color: vars.$light-background;
        color: vars.$regular-dark;
      }
    }

    &-labels {
      @extend %pageFormsLabels;
    }

    &-time {
      @extend %pageFormsInputs;
      color: vars.$seethru-light;
      &-light {
        border-color: vars.$emphasis-font-color;
        background-color: vars.$light-background;
        color: vars.$regular-dark;
        &:focus {
          color: vars.$regular-dark;
        }
        &::before {
          color: vars.$regular-dark;
        }
        &::after {
          color: vars.$regular-dark;
        }
      }

      &:focus {
        color: vars.$regular-light;
      }

      &::after {
        color: vars.$regular-light;
      }
    }
  }

  &-modal {
    @extend %pageModals;

    &-hidden {
      display: none;
    }

    &-close {
      @extend %pageModalsClose;
      &-light {
        border-color: vars.$regular-dark;
        color: vars.$regular-dark;
        &:hover {
          background-color: vars.$light-background;
        }
      }
    }

    &-content {
      @extend %pageModalsContent;
      &-light {
        background-color: vars.$light-background;
        &:hover {
          background-color: vars.$seethru-light;
        }
      }
    }

    &-paragraph {
      @extend %pageModalsParagraph;
    }
  }

  &-paragraph {
    @extend %pageSectionsParagaphs;
  }

  &-section {
    @extend %pageSections;
  }

  &-title {
    @extend %pageTitles;
  }
}