@use './../../vars';

.contact {
  @extend %seethruBlocks;
  &-light {
    @extend %seethruBlocksLight;
  }

  &-form {
    @extend %pageForms;
    &-light { 
      background-color: vars.$light-background;
    }

    &-button {
      @extend %pageFormsButtons;
      &-light {
        border-color: vars.$regular-dark;
        background-color: vars.$light-background;
        color: vars.$regular-dark;
      }
    }

    &-comment {
      @media screen and (max-width: 350px) {
        padding: 5% 0;
      }
    }

    &-input {
      @extend %pageFormsInputs;
      &-light {
        border-color: vars.$emphasis-font-color;
        background-color: vars.$light-background;
        color: vars.$regular-dark;
      }
    }

    &-labels {
      @extend %pageFormsLabels;
    }
  }

  &-link {
    @extend %pageLinks;
  }

  &-list {
    @extend %pageLists;

    &-item {
      @extend %pageListsItem;
    }
  }

  &-modal {
    @extend %pageModals;

    &-hidden {
      display: none;
    }

    &-close {
      @extend %pageModalsClose;
      &-light {
        border-color: vars.$regular-dark;
        color: vars.$regular-dark;
        &:hover {
          background-color: vars.$light-background;
        }
      }
    }

    &-content {
      @extend %pageModalsContent;
      &-light {
        background-color: vars.$light-background;
        &:hover {
          background-color: vars.$seethru-light;
        }
      }
    }

    &-paragraph {
      @extend %pageModalsParagraph;
    }
  }

  &-paragraph {
    @extend %pageSectionsParagaphs;
  }

  &-section {
    @extend %pageSections;
  }

  &-title {
    @extend %pageTitles;
  }
}