@use './../../vars';

.header {
  &-accessibility {
    @extend %accessibleElem;
  }

  &-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-language {
      margin: 1%;
      width: 2em;
    }
  
    &-theme {
      color: vars.$emphasis-font-color;
      background-color: vars.$regular-dark;
      border-radius: 100%;
      margin: 1%;
      padding: .1em;
      &-light {
        background-color: vars.$light-background;
      }
    }
  }

  &-title {
    @extend %mainTitle;
  }

  &-title-light {
    @extend %mainTitleLight;
    font-weight: 500;
  }

  &-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    &-label {
      background-color: vars.$seethru-dark;
      border: 1px solid vars.$regular-dark;
      display: flex;
      justify-content: center;
      font-family: 'Urbanist', sans-serif;
      font-size: 1.2em;
      margin: 0 45%;
      padding: 1px;
      text-align: center;
      transition: 2s;
      &:hover {
       background-color: vars.$regular-dark; 
       margin: 0;
      }
      &-light {
        background-color: vars.$seethru-light;
        border: 1px solid vars.$regular-dark;
        color: vars.$regular-dark;
        &:hover {
          background-color: vars.$light-background;
        }
      }
    }
  }

  &-ul > a {
    color: vars.$regular-font-color;
    text-decoration: none;
    &:hover {
      color: vars.$regular-light;
    }
  }

  &-ul-light > a {
    color: vars.$seethru-dark;
    text-decoration: none;
    &:hover {
      color: vars.$regular-dark;
    }
  } 

  &-li {
    display: none;
    &-active {
      background-color: vars.$regular-dark;
    }
    &-open {
      @extend %menuItem;
    }
    &-light {
      &-active {
        background-color: vars.$light-background;
      }
      &-open {
        @extend %menuItem;
        background-color: vars.$seethru-light;
        &:hover {
          background-color: vars.$light-background;
        }
      }
    }
  }
}