@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Merienda:wght@300;400&family=Urbanist:wght@100;400;700&display=swap');

@keyframes fadein {
  from {
    opacity: 0%;
  }

  to {
    display: none;
    opacity: 100%;
  }
}

// ************** //
// *** COLORS *** //
// ************** //

$regular-font-color: #e0e0e0;
$emphasis-font-color: #daa520;
$regular-dark: #000;
$regular-light: #FFF;
$seethru-dark: #000000cc;
$seethru-light: #ffffff88;

// ****************** //
// * SCREEN READERS * //
// ****************** //

%accessibleElem {
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// *************** //
// * BACKGROUNDS * //
// *************** //

%backgroundImageSettings {
  background-image: url('./assets/images/bar-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $regular-font-color;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

%seethruBlocks {
  background-color: $regular-dark;
  border: 2px solid $regular-light;
  margin: 1% 20%;
  padding: 2% 0;
  text-align: center;
  text-decoration: none;
  transition: 2s;
  &:hover {
    background-color: $seethru-dark;
    border: 2px solid $regular-dark;
  }
  & > a {
    color: $regular-font-color;
    text-decoration: none;
    &:visited {
      color: $regular-font-color;
    }
  }
  @media screen and (max-width: 900px) {
    margin: 1% 15%;
  }
  @media screen and (max-width: 600px) {
    margin: 1% 10%;
  }
  @media screen and (max-width: 300px) {
    margin: 1% 5%;
  }
}

// ************** //
// *** HEADER *** //
// ************** //

%mainTitle {
  @extend %seethruBlocks;
  font-family: 'Aboreto', cursive;
  font-size: 4em;
  @media screen and (max-width: 900px) {
    font-size: 3em;
  }
  @media screen and (max-width: 600px) {
    font-size: 2em;
  }
  @media screen and (max-width: 300px) {
    font-size: 1.5em;
  }
}

%menuItem {
  animation-duration: 1s;
  animation-name: fadein;
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 1s;
  background-color: $seethru-dark;
  font-family: 'Urbanist', sans-serif;
  font-size: 1.2em;
  padding: 1%;
  text-align: center;
  transition: 2s;
  &:hover {
    background-color: $regular-dark;
    text-decoration: underline;
  }
}

// *************** //
// **** PAGES **** //
// *************** //

%pageTitles {
  font-family: 'Merienda', cursive;
  font-size: 2em;
  padding: 1em 0;
  @media screen and (max-width: 900px) {
    font-size: 1.5em;
  }
  @media screen and (max-width: 600px) {
    font-size: 1.2em;
  }
  @media screen and (max-width: 300px) {
    font-size: 1em;
  }
}

%pageEmphasisTitle {
  color: $emphasis-font-color;
  font-family: 'Aboreto', cursive;
}

%pageLinks {
  color: $emphasis-font-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

%pageSections {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.2em;
  padding: .5em;
  @media screen and (max-width: 900px) {
    font-size: 1em;
  }
  @media screen and (max-width: 600px) {
    font-size: 0.8em;
  }

}

%pageSectionsTitles {
  font-size: 1.5em;
  padding: .5em 0;
  @media screen and (max-width: 900px) {
    font-size: 1.2em;
  }
}

%pageSectionsParagaphs {
  line-height: 1.2;
  padding: .3em 1em;
  text-align: justify;
  & > a {
    color: $emphasis-font-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// *************** //
// **** FORMS **** //
// *************** //

%pageForms {
  background-color: $regular-dark;
  border: 1px solid $emphasis-font-color;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10%;
  padding: 1% 5%;
}

%pageFormsButtons {
  background-color: $seethru-dark;
  border: 1px solid $seethru-light;
  border-radius: 5px;
  color: $regular-light;
  font-family: 'Urbanist', sans-serif;
  margin-bottom: 1em;
  padding: 1em 5%;
  transition: color 1s;
  &:hover {
    border-color: $emphasis-font-color;
    color: $emphasis-font-color;
  }
  &:active {
    background-color: $seethru-light;
  }
  @media screen and (min-width: 1200px) {
    font-size: .8em;
  }
}

%pageFormsLabels {
  display: none;
}

%pageFormsInputs {
  background-color: $seethru-dark;
  border: 1px solid $seethru-light;
  border-radius: 5px;
  color: $regular-light;
  font-family: 'Urbanist', sans-serif;
  min-width: 20em;
  margin: 5% 0;
  padding: 5%;
  @media screen and (min-width: 1200px) {
    font-size: .8em;
    margin: 2.5% 0;
    padding: 2.5%;
  }
  @media screen and (max-width: 750px) {
    min-width: 15em;
  }
  @media screen and (max-width: 600px) {
    min-width: 12em;
  }
  @media screen and (max-width: 400px) {
    min-width: 0;
    max-width: 10em;
  }
  @media screen and (max-width: 350px) {
    min-width: 0;
    max-width: 8em;
    margin: 5% 0;
    padding: 0;
  }
  @media screen and (max-width: 230px) {
    min-width: 0;
    max-width: 6em;
  }
}

%pageFormsInputsDate {
  color: $seethru-dark;
  @-moz-document url-prefix() {
    color: $seethru-light;
  }
  &::before {
    color: $seethru-light;
    content: attr(placeholder);
  }
  &:focus, &:valid {
    color: $regular-light;
  }
  &:focus::before, &:valid::before {
    content: "" !important;
  }
  &::-webkit-calendar-picker-indicator {
    filter: invert(100%);
  }
}

// **************** //
// **** LISTS **** //
// **************** //

%pageLists {
  padding: 0 1em;
  list-style-type: circle;
}

%pageListsItem {
  margin: 0.5em 1em;
}

// **************** //
// **** MODALS **** //
// **************** //

%pageModals {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  overflow: auto;
  background-color: $seethru-dark;
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 0.4s;
  animation-name: fadein;
  animation-duration: 0.4s
}

%pageModalsClose {
  background-color: transparent;
  border: 1px solid $seethru-light;
  color: $regular-font-color;
  font-weight: bold;
  margin: 1% 0;
  padding: .1em .5em;
  transition: color 1s;
  &:hover {
    border-color: $emphasis-font-color;
    color: $emphasis-font-color;
  }
  &:active {
    background-color: $seethru-light;
  }
}

%pageModalsContent {
  @extend %seethruBlocks;
  &:hover {
    background-color: $regular-dark;
    border: 2px solid $emphasis-font-color;
  }
}

%pageModalsParagraph {
  line-height: 1.2;
  padding: .3em 1em;
  text-align: center;
}

// **************** //
// **** TABLES **** //
// **************** //

%pageTables {
  background-color: $regular-dark;
  border: 1px solid $regular-dark;
  width: 100%;
  transition: 1s;
  &:hover {
    border: 1px solid $emphasis-font-color;
  }
}

%pageTablesDoubleCells {
  font-size: smaller;
  font-weight: 200;
  padding: 0 0 1em 2em;
  text-align: left;
}

%pageTablesLeftCells {
  padding: .5em 1em .5em 0;
  text-align: right;
  width: 50%;
}

%pageTablesRightCells {
  padding: .5em 0 .5em 1em;
  text-align: left;
  width: 50%;
}
